# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
bin/
vendor/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Ignore various IDE
.idea
*.iml
*.ipr
.vscode
debug

# Ignore various temporary files
*.swp
*.tmp
*.bak
*.log
*.pid

# Ignore G'Agent configuration file.
gagent.hcl

# Ignore various Drone CI support files
.drone.secrets
